body {
  margin: 0;
  padding: 0;
}

/* 이벤트 부분 */
.fc-daygrid-block-event .fc-event-title {
  font-family: 'pretendard';
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  color: #323232;

  padding-right: 5px;
}

.fc-daygrid-block-event {
  border: none !important;
}

/* 전체 캘린더 크기 */
.fc {
  width: 994px !important;
}

/* 토요일, 일요일 색상 변경 */
.fc-day-sat a {
  color: #3678d8;
  text-decoration: none;
}

.fc-day-sat.fc-day-today a,
.fc-day-sun.fc-day-today a {
  color: white !important;
}

.fc-day-today .fc-daygrid-day-number {
  background: #3678d8 !important;
  color: #ffffff !important;
  width: 28px;
  height: 28px;
  margin-top: 3px;
  margin-bottom: 1px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
}

.fc-daygrid-day-number {
  z-index: 10 !important;
}

.fc .fc-day-today {
  background: transparent !important;
}

.fc-day-sun a {
  color: #d83636;
  text-decoration: none;
}

/* 요일 칸 */
.fc th {
  font-family: 'pretendard';
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  color: #323232;
  border-right: none;
  border-left: none;
}

/* 날짜 칸 */
.fc td {
  font-family: 'pretendard';
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  color: #323232;
  border-right: none;
  border-left: none;
  height: 130px !important;
  width: 142px !important;
  box-sizing: border-box;
  cursor: pointer;
}

.fc .fc-customText-button {
  width: 100% !important;
  padding: 0 !important;
  color: #323232 !important;

  font-family: 'pretendard';
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  text-align: left;
}

.year-text {
  font-family: 'pretendard';
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  text-align: center;
}

.fc .fc--button {
  padding: 0 !important;
}

/* prev next 버튼 색상 수정 */
.fc-button-primary {
  background: transparent !important;
  border: none !important;
  padding: 0 !important;
  margin: 0 !important;
}

/* prev next 버튼 shadow 제거 */
.fc-button {
  box-shadow: none !important;
}

/* button 안 icon 크기 */
.fc-icon {
  padding: 0 !important;
  display: flex;
  align-items: center;
}

.fc-prev-button {
  border-top-left-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
  padding-left: 10px !important;
  width: 60px !important;
  height: 60px !important;
  background-color: #f3f3f3 !important;
}

.fc-next-button {
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  width: 55px !important;
  height: 60px !important;
  background-color: #f3f3f3 !important;
}

/* icon 이미지 수정 */
.fc-prev-button .fc-icon:before {
  content: url('../../../../public/images/ArrowLeft.png');
}

.fc-next-button .fc-icon:before {
  content: url('../../../../public/images/ArrowRight.png');
}

.fc .fc-customYear-button {
  height: 60px !important;
  padding-left: 10px !important;
  padding-right: 15px !important;

  font-family: 'pretendard';
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
  color: #3678d8 !important;
  background-color: #f3f3f3 !important;
  display: inline-flex;
  align-items: center;
}

.fc-customYearBtn-button {
  padding-right: 10px !important;
  font-family: 'pretendard';
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  color: #474747 !important;
  background-color: #f3f3f3 !important;
}

.fc .fc-customMonth-button {
  font-family: 'pretendard';
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
  color: #3678d8 !important;
  width: 40px !important;

  height: 60px !important;
  background-color: #f3f3f3 !important;
  padding-right: 0px !important;
}

.fc-toolbar-chunk:first-child,
.fc-toolbar-chunk:last-child {
  flex: 1;
}

.fc .fc-toolbar.fc-header-toolbar {
  margin-bottom: 16px;
}

/* 캘린더 위쪽 border 없애기 */
.fc-scrollgrid {
  border: none !important;
}

/* 날짜 왼쪽 정렬 */
.fc .fc-daygrid-day-top {
  flex-direction: row;
}

.fc-daygrid-day-events {
  padding-bottom: 0px !important;
}

.fc-daygrid-day-bottom {
  font-family: 'pretendard';
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  color: #474747 !important;
  pointer-events: none;
}

.fc-scrollgrid,
.fc-scrollgrid-liquid,
.fc-col-header,
.fc-daygrid-body,
.fc-daygrid-body-unbalanced,
.fc-scrollgrid-sync-table,
.fc-scrollgrid-sync-table {
  width: 100% !important;
  height: 100% !important;
}
